<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

    <% include ../partials/header.ejs %>

    <main class="main">
        <div class="notification notification__success" style="display:none;" id="successBlock" >
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <span class="notification__message"></span>
        </div>
        <h2 class="heading headeing__2"><%=auth.user.username %> tickets</h2>
        <% if (tickets.length) { %>
            <div class="table-wrapper">
                <table class="table table--tickets">
                    <thead class="table__head">
                    <tr class="table__row table__row--head">
                        <th class="table__cell table__cell--head">ID</th>
                        <th class="table__cell table__cell--head">From City</th>
                        <th class="table__cell table__cell--head">To City</th>
                        <th class="table__cell table__cell--head">Dispatch / Arrival</th>
                        <th class="table__cell table__cell--head">Distance (km)</th>
                        <th class="table__cell table__cell--head">Duration (min)</th>
                    </tr>
                    </thead>
                    <tbody class="table__body">
                    <% tickets.forEach(function(ticket) {%>
                    <tr class="table__row">
                        <th class="table__cell"><%= ticket.id %></th>
                        <td class="table__cell"><%= ticket.cityFrom %></td>
                        <td class="table__cell"><%= ticket.cityTo %></td>
                        <td class="table__cell"><%= ticket.dTimeUTC %> / <%= ticket.aTimeUTC %></td>
                        <td class="table__cell"><%= ticket.distance %></td>
                        <td class="table__cell"><%= ticket.duration.departure %></td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>

        <% } else { %>
            <div class="notification notification__success">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <span class="notification__message">There is no available tickets yet.</span>
            </div>
        <% } %>
    </main>

    <% include ../partials/footer.ejs %>

</body>
</html>