<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ../partials/header.ejs %>
</header>

<main>
    <div class="panel panel-default">
        <div class="panel-heading">Available tickets list</div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>From City</th>
                <th>To City</th>
                <th>Dispatch</th>
                <th>Arrival</th>
                <th>Distance (km)</th>
                <th>Duration (mins)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% tickets.forEach(function(ticket) {%>
            <tr>
                <td><%= ticket.id %></td>
                <td><%= ticket.cityFrom %></td>
                <td><%= ticket.cityTo %></td>
                <td><%= new Date(ticket.dTimeUTC * 1000) %></td>
                <td><%= new Date(ticket.aTimeUTC * 1000) %></td>
                <td><%= ticket.distance %></td>
                <td><%= ticket.duration.departure %></td>
            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</main>

<footer>
    <% include ../partials/footer.ejs %>
</footer>

</body>
</html>