<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ../partials/header.ejs %>
</header>

<main>
    <div id="successBlock" class="alert alert-success" role="alert" style="display:none;">
        Ticket where bought
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Available tickets list</div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>From City</th>
                    <th>To City</th>
                    <th>Dispatch</th>
                    <th>Arrival</th>
                    <th>Distance (km)</th>
                    <th>Duration (min)</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
            <% tickets.forEach(function(ticket) {%>
                <tr>
                    <td><%= ticket.id %></td>
                    <td><%= ticket.cityFrom %></td>
                    <td><%= ticket.cityTo %></td>
                    <td><%= new Date(ticket.dTimeUTC * 1000) %></td>
                    <td><%= new Date(ticket.aTimeUTC * 1000) %></td>
                    <td><%= ticket.distance %></td>
                    <td><%= ticket.duration.departure %></td>
                    <td>
                        <!--todo remove JSON data from attribute -->
                        <button data-ticket="<%= JSON.stringify(ticket) %>" class="btn btn btn-success btn-buy-ticket">Buy</button>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</main>

<footer>
    <% include ../partials/footer.ejs %>
</footer>

<script>
    (() => {
        'use strict';

        let buttons = document.getElementsByClassName('btn-buy-ticket');
        let successBlock = document.getElementById('successBlock');


        for (var i = 0; i < buttons.length; i++ ) {
            buttons[i].addEventListener('click', (e) => {
                let ticket = e.srcElement.dataset.ticket;
                let ajax = new XMLHttpRequest();

                ajax.onreadystatechange = () => {
                    if (ajax.readyState === 4) {
                        let response = JSON.parse(ajax.responseText);

                        if (response.success) {
                            successBlock.innerText = response.message;
                            successBlock.style.display = 'block';

                            setTimeout(() => {
                                successBlock.style.display = 'none';
                            }, 3000);
                        } else {
                            successBlock.style.display = 'none';
                        }
                    }
                };

                ajax.open('PUT', window.location.href, true);
                ajax.setRequestHeader('Content-Type', 'application/json')
                ajax.send(ticket);
            }, false);
        }

    })();
</script>

</body>
</html>